body {
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 600px;
    background-color: pink;
}

#storyOutput {
    font-size: 1.2rem;
    font-weight: bold;
    color: aqua;
}

.text-center{
    color: aqua;
}

.mb-3{
color: aqua;
}